/* Nav Bar CSS */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar {
    background-color: #ef6969;
    color: #ef6969;
    clear: both;
    border-bottom: 2px solid #EF6969;
}


.navbar ul li a {
    color: white;
}

.navbar ul li a:hover {
    color: #ad3232;
}

.navbar-nav .active a {
    color: white;  
    font-weight: 500;
}

.nav-link{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 0.88rem;
    padding:1rem;
    text-decoration: none;
}


.logout-btn{
    color: white;
    border-color: white;
}

/* Nav Bar CSS */

/* Modal Css */
.create-post-heading, .edit-post-heading, .delete-post-heading{
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 24px;
}

.create-post-form-label, .edit-post-form-label,  .delete-post-form-label{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
}

.create-post-form-field, .edit-post-form-field, .delete-post-form-field{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
}

.create-btn, .search-btn{
    background-color: #ef6969;
    color: white;
    border-color: white;
}

.create-btn:hover, .search-btn:hover{
    background-color: #f34949;
    color: white;
    border-color: white;
}

.create-post-btn, .edit-post-btn, .delete-post-btn{
    background-color: #ef6969;
    color: white;
    border-color: white;
    width: 190px;
    height: 50px;
}

.create-post-btn:hover, .edit-post-btn:hover, .delete-post-btn:hover{
    background-color: #f34949;
    color: white;
    border-color: white;
}

/* Modal Css */


.posts-container{
    height: 720px; 
    overflow-y: auto;
    overflow-x: hidden;
}

.post-header{
    color: #ef6969;
    background-color: white;
    font-family: 'Roboto Black';
    font-size: 32px;
    vertical-align: middle;
}

.post-title{
    color: #ef6969;
    font-family: 'Roboto Medium';
    font-size: 18px;
}

.post-body{
    font-family: 'Roboto Light';
    font-size: 16px;
    white-space: pre-wrap;
}

.page-container{
    padding-bottom: 50px;
}

.post-card-btn, .officials-table-btn{
    background-color: #ef6969;
    color: white;
    border: none;
}

.post-card-btn:hover{
    background-color: #f34949;
    color: white;
    border: none;
}

.post-btn-anchor{
    display: inline-block;
}

/* CSS For Dropdown icon */
.admin-text{
    font-family: 'Montserrat', sans-serif !important;
}

#ddown li a {
    color: #000 !important;
    padding: 8px;
    font-family: 'Montserrat', sans-serif !important;
}

#ddown {
    background-color: #ef6969 !important;
    border: none;
}