/* Nav Bar CSS */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar {
    background-color: #ef6969;
    color: #ef6969;
    clear: both;
    border-bottom: 2px solid #EF6969;
}

.navbar ul li a {
    color: white;
}

.navbar ul li a:hover {
    color: #ad3232;
}

.navbar-nav .active a {
    color: white;  
    font-weight: 500;
}

.nav-link{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 0.88rem;
    padding:1rem;
    text-decoration: none;
}

.logout-btn{
    color: white;
    border-color: white;
}

/* Nav Bar CSS */


/* Rest of the page CSS */

.official_info{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
}

.official_position{
    text-align: center;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
}

.delete-official-btn, .edit-official-btn {
    background-color: white;
    color: black;
    border: none;
}

.delete-official-btn:hover, .edit-official-btn:hover {
    background-color: #f34949;
    color: white;
    border: none;
}

.table-btn-anchor{
    display: inline-block;
}

.add-btn{
    background-color: #ef6969;
    color: white;
    border-color: white;
}

.add-btn:hover{
    background-color: #f34949;
    color: white;
    border-color: white;
}

.officials-table{
    text-align: center;
}

.officials-table-heading{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

.officials-table td{
    vertical-align: middle;
}

.officials-table-container{
    height: 600px;
}

.officials-table-div{
    height: 600px;
}

.officials-table-btn, .officials-table-btn{
    background-color: white;
    color: black;
    border: none;
}

.officials-table-btn:hover{
    background-color: #f34949;
    color: white;
    border: none;
}

.add-official-heading, .edit-official-heading, .delete-official-heading{
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 24px;
}

.add-official-form-label, .edit-official-form-label,  .delete-official-form-label{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
}

.add-official-form-field, .edit-official-form-field, .delete-official-form-field{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
}

.add-official-btn, .edit-official-btn, .delete-official-btn{
    background-color: #ef6969;
    color: white;
    border-color: white;
    width: 190px;
    height: 50px;
}

.add-official-btn:hover, .edit-official-btn:hover, .delete-official-btn:hover{
    background-color: #f34949;
    color: white;
    border-color: white;
}

.delete-official-prompt{
    font-family: 'Arial';
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.delete-official-name-field{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

/* CSS For Dropdown icon */
.admin-text{
    font-family: 'Montserrat', sans-serif !important;
}

#ddown li a {
    color: #000 !important;
    padding: 8px;
    font-family: 'Montserrat', sans-serif !important;
}

#ddown {
    background-color: #ef6969 !important;
    border: none;
}