body {
    font-family: 'Montserrat', sans-serif !important;
    margin:0;
    overflow-x: hidden;
}

/* --------    HEADER    --------  */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar {
    background-color: #ef6969;
    color: #ef6969;
    clear: both;
    border-bottom: 2px solid #EF6969;
}

.navbar ul li a {
    color: white;
}

.navbar ul li a:hover {
    color: #ad3232;
}

.navbar-nav .active a {
    color: white;  
    font-weight: 500;
}

.nav-link{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 0.88rem;
    padding:1rem;
    text-decoration: none;
}




.logout-btn{
    color: white !important; 
    border-color: white !important; 
}

#ddown li a {
    color: #000 !important;
    padding: 8px;
}

#ddown {
    background-color: #ef6969 !important;
    border: none;
}
/* --------    HEROAREA    --------  */
#heroarea {
    font-weight: 400 !important;
    font-size: 1rem;
    color: #707070;
}
#heroarea h1 {
    font-weight: 800 !important;
    font-size: 3rem;
    letter-spacing: 3px;
}
#heroarea p {
    letter-spacing: 1px;
    line-height: 50px;
}
#viewmore-btn {
    width: 160px;
    height: 46px;
    color: #fff;
    background-color: #000;
    border-radius: 25px;
    border:none;
    text-align: center;
}

/* --------    MISSION / VISION    --------  */
#mission h4, #vision h4 {
    letter-spacing: 2px;
}
#mission p, #vision p {
    font-weight: 400 !important;
    letter-spacing: 1.4px;
    line-height: 40px;
}

#mission-vision{
    background-color: #DC3545;
}

/* --------    CONTACT    --------  */
#contact {
    background-color: #F4F4F4;
}
#contact #b-top {
    border-top: 1px solid #070707;
}
#contact ul {
    list-style-type: none;
}
#contact h6 {
    letter-spacing: 1.4px;
}
#contact p {
    letter-spacing: 2.2px;
}
#contact li {
    letter-spacing: 1.8px;
}


